body {
  background-color: #0C0336;
  color: #fff;
  font-family: "Trebuchet MS";

}

h1 {
  font-family: "Helvetica";
  background-image: url("./images/neon-jelly.jpg");
  background-position: left 35% top;
}

img {
  width: 1000px;
  height: 500px;
}

p {
  /* background-color: #0D337A; */
  font-size: 20px;
}

a {
  color: #fff;
}
